/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/*----------- BODY --------------*/
#alert {
  background-color: #1B72BF;
  color:black; 
  display: flex; 
  flex-flow: column;
  margin: auto; 
  text-align: center; 
  width: 100%;
  padding: 10px;
  }

body {
    margin: 0;
    font-size: 16px;
}
h1, h2 { color: #1B72BF; font-family: 'Roboto', sans-serif;}

#alert {
  display: none;
}

.weather-summary {
  display: none;
}
/*----------- HEADER --------------*/
header {
    padding: .5rem 2%;
    background-color: #F2D377;
    color: #1B72BF;
    width : 100%;
    
}
header img {float: left; margin-right: 10px; width: 50px;}
header h1 {margin: 0; font-size: 1.3rem;}
header h2 {margin: 0; font-weight: normal; font-size: 1rem;}

header section {
    display: flex;
    flex-flow: column;
}

/*----------- NAVIGATION --------------*/
.ham {
    margin-top: 20px;
    margin-left: 45px;
    background-color: transparent;
    font-size: 1.6rem;
    color: white;
    text-align: center;
    border: none;
  }

nav{
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#154c87+0,7db9e8+100 */
background:  #f2b366; /* Old browsers */
background: -moz-linear-gradient(top, #F2D377 0%, #f2b366 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,#F2D377 0%, #f2b366 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #F2D377 0%, #f2b366 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F2D377', endColorstr='#f2b366',GradientType=0 ); /* IE6-9 */
  }
  nav button {
    margin: -4rem 2%;              
    background-color: transparent;   
    border: none;                    
    font-size: 1.6rem;               
    color: #fff;   
    float: right;                
}

nav {
    background-color: #F2D377;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    color: #333333;
    padding: .5rem 0;
    text-decoration: none;
    font-size: .9rem;
    text-align: center;
}


nav ul li a:hover {
    background-color: white;
    color: #F2B366;
}
nav ul li.active a {
    background-color: #F2B366;
    color: black;
}

nav ul.hide {display:none;}

#active {
    background-color: white;
    color: #F2B366;
  }

.mainNav {
	list-style: none;
	padding: 0;
}

.mainNav li {
	display: none;
}

.mainNav a {
    display: block;
    color: #333333;
    padding: .5rem 0;
    text-decoration: none;
    font-size: .9rem;
    text-align: center;
}

.mainNav a:hover {
	color: white;
	background-color: #F2B366;
}

.responsive li {
	display: block;
}

/*----------- MAIN --------------*/
main {
    min-height: 10rem;
    font-family: 'Source Sans Pro', sans-serif;
}
main img {
    max-width: 100%;
}


main {
    margin-top: 10px !important;
    line-height: 1.5rem;
  }
  
  main h2 {
    margin-top: 20px;
  }
  
  main h3 {
    margin-top: 20px;
  }
  
  main p {
    margin-top: 10px;
  }

/*Social media*/
  .social-media {
    max-width: 60px;
    padding: 10px;
    height: auto;
    opacity: .7;
}
.map {
    width: 300px;
}
.social-media:hover {
    opacity: 1;
}


/*----------- FOOTER --------------*/
footer {
    background-color: #F2D377;
    padding: .5rem 2%;
    text-align: center;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#154c87+0,7db9e8+100 */
    background:  #f2b366; /* Old browsers */
    background: -moz-linear-gradient(top, #f2b366 0%, #F2D377 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,#f2b366 0%, #F2D377 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #f2b366 0%, #F2D377 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2b366', endColorstr='#F2D377',GradientType=0 ); /* IE6-9 */
  }

/* Gallery css */
.gallery {
  margin: 20px auto;
}

.gallery figure {
  box-shadow: 4px 4px 10px grey;
  border-radius: 5px;
  background-color: lightblue;
}

.gallery figcaption {
  padding: 15px;
  margin-top: -4px;
  text-align: center;
}

.gallery img[data-src] {
  filter: blur(0em);
}

.gallery  img {
  filter: blur(0em);
  transition: filter .5s;
  width: 100%;
  border-radius: 6px 6px 0 0;
}

.subheadings {
  text-align: center;
}  

/*Form css*/
h2, form fieldset {
  max-width: 650px;
  margin: 20px auto;
}

.storm-header {
  text-align: center;
}

form fieldset {
  border: 1px solid black;
  border-radius: 10px;
  padding: .5rem 2%;
}
form legend {
  color: #1B72BF;
  font-weight: bold;
  margin: 0 1rem;
  padding: 0 .5rem;
  font-size: 1.5em; 
}
form label.top, form div {
  display: block;
  padding-top: 1rem;
  color: black;
}
form label.top input, form label.top select {
  -webkit-appearance: none;
  display: block;
  font: 16px;
  border: solid 1px #999;
  border-radius: 4px;
  padding: .75rem;
  color: #333333;
  width: 100%;
  max-width: 20rem;
  background-color: rgba(0,0,0,.1);
}
form label.sbs {
  display: block;
  padding: .75rem 0;
  color: #333333;
}
form input.submitBtn {
  border: none;
  background-color: #f2b366;
  color: #333333;
  border-radius: 1rem;
  padding: .75rem 1.5rem;
  margin: 5px 465px;
}
form label.top input:required {
  border-left: 6px solid #F2D377;
}
form label.top input:required:valid {
  border-left: 6px solid #1B72BF;
}

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/*Home page css*/

div#cards div {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  text-align: center;
  background-color: #7ebfd9;
  color: black;
  border: 3px black double;
  margin-top: .75rem;
  border-radius: 10px;
  justify-items: center;
  box-shadow: 3px 3px 6px 3px gray;
}

div#cards div picture {
  width: 100%;
}

div#cards div picture img {
  width: 100%;
  border-radius: 5px 5px 0 0;
}

div#cards h2 {
  font-size: 1.5rem;
  margin: 10px 0 0 0;
}
div#cards h3 {
  font-size: 1rem;
  margin-top: 0;
  padding: 3px;
}
div#cards p {
  font-size: .75rem;
  margin: 0 0 5px 0;
  
}

/**Five Day Forecast**/
#five-day {
  display: none;
}

#five-day table {
  margin: 10px auto;
  width: 75%;
  text-align: center;
  border-collapse: collapse;
}

#five-day th {
  background-color: #7ebfd9;
}

#five-day th, td {
  padding: 10px;
  border: 2px double white;
}

#five-day tr:nth-child(2) td {
  border-bottom: none;
  padding-bottom:5px;
}

#five-day tr:nth-child(3) td {
  border-top: none;
}

#five-day img {
  width: 45px;
}






.upcoming {
  border: 2px solid #1B72BF; 
  width: 80%;
  background-color:#F2D377;
  margin: 6% auto;
  padding-left: 20px;
  padding-right: 20px;
}
.upcoming h3 {
  border-bottom: 2px solid #1B72BF;
  text-align: center;
  padding: 10px;
  font-size: 1.5em;
  margin: 0;
}
.upcoming p {
  text-align: center;
  font-size: 1.2em;
}
/*Calandar Css*/