body{
    background-color: black;
}

h1{
    color:rgb(23, 233, 12);
    text-align: center;
}

#output{
    color: red;
}

ul{
    color: white;
}

li{
    color: rgb(23, 233, 12);
}

button{
    width: 100%;
    background-color: silver;
    color: black;
    box-shadow: 0px 0px 10px rgb(23, 233, 12);
}



footer{
    display: flex;
    justify-content: space-between;
}